.cart-aside-row {
    display: flex;
    padding: 2rem 1rem 1rem 1rem;
    margin: 1rem;
    border-top: 1px solid rgba(173, 175, 175, 0.5);
    color: #fff;

}
.cart-aside-row img {
    height: 5rem;
    width: auto;
}
/* h4 {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
} */
p {
    padding-right: 1rem;
}
.aside-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: space-between;
}
.quantity {
    display: flex;
    /* margin-top: .5rem; */
    width: 50%;
}

@media screen and (max-width: 775px) {
    
}