<div *ngIf='cartItem' class="cart-item-row">
    <div class="cart-content">
        <div class="cart-image">
            <img [src]="cartItem.movie.imageUrl" alt="Movie poster of {{cartItem.movie.name}}">
        </div>
        <div class="cart-description">
            <h2>{{cartItem.movie.name}}</h2>
            <p class="description">{{cartItem.movie.description}}</p>
        </div>
    </div>

    <div class="cart-crud">
        <div class="quantity">
            <p class="qty">QTY:</p>
            <div class="buttons">
                <button class="left small" (click)="subtractMovieQuantity(cartItem.movie)"><i class="fas fa-minus"></i></button>
                <h3>{{cartItem.quantity}}</h3>
                <button class="small" (click)="addToMovieRow(cartItem.movie)"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="price-remove">
            <div class="price">
                <p class="cursive">{{cartItem.movie.price}}</p>
                <p class="sek">SEK</p>
            </div>
            <button class="small" (click)="removeMovieRow(cartItem.movie)"><i class="fas fa-trash-alt"></i></button>
        </div>

    </div>
</div>
