.cart-item-row {
    display: flex;
    color: #fff;
    margin: 2.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(173, 175, 175, 0.5);
}

.cart-item-row h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}
.cart-description p {
    font-family: 'Raleway', sans-serif;
    line-height: 130%;
    margin-top: .5rem;
}
/* .cart-item-row:nth-child(odd) {
    background: #E7E7E7;
} */
/* .cart-item-row:nth-child(1n+12) {
    background: #CFCFCF;
} */


.cart-content {
    flex: 55%;
    display: flex;
}

.cart-crud {
    flex: 45%;
}

.cart-image img {
    width: auto;
    height: 10rem;
    overflow: hidden;
    object-fit: cover;
}
.cart-description {
    margin: 0 2rem 0 1rem;
}

button {
    width: 40px;
}
.left {
    background: #B0CDAE;
}
.price-remove button {
    background: #5B0000;
}
.quantity {
    display: flex;
    flex-direction: row;
    width: 55%;
    align-items: center; 
}
.quantity h3 {
    font-family: 'Kodchasan', sans-serif;
    font-size: 2rem;
    /* margin: 0 .5rem; */
}
.quantity p,
.price-remove .sek  {
    font-family: 'Raleway', sans-serif;
    font-size: .8rem;
}
.price-remove .sek {
    padding-left: .5rem;
}
.qty {
    flex: 20%;
}
.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 80%;
}

.cart-crud {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.price-remove {
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;

}
.cursive {
    font-family: 'Cormorant', serif;
    font-size: 2rem;
    margin-top: -.5rem;
}
.price {
    display: flex;
    margin-left: 1.5rem;
}
/* .price-remove .sek {
    font-size: .8rem;
    font-family: 'Varela Round', sans-serif;
} */


@media screen and (max-width: 1200px) {
    .cart-item-row {
        margin: 2.5rem 1rem;
    }
    
}
@media screen and (max-width: 1076px) {
    .cart-description {
        display: none;
    }
    .cart-content {
        flex: 25%;
    }
    
    .cart-crud {
        flex: 75%;
    }
    .quantity {
        margin-right: 1rem;
    }
}
@media screen and (max-width: 572px) {
    .cart-item-row {
        flex-flow: wrap;
    }
    .cart-crud {
        height: 5rem;
        margin-top: 2rem;
    }
    .cart-description {
        display: flex;
        flex-direction: column;
    }
    .qty {
        margin-left: 0;
    }
    .cart-image img {
        height: 15rem;
    }
    /* .quantity {
        margin-right: 1rem;
    } */
}