<div class="movie-column">
    <div class="image-box">
        <img [src]="movie.imageUrl" alt="Movie poster of {{movie.name}}">
        <div class="image-hover">
            <h2 class="fade-in">{{movie.name}}</h2>
                <div class="price fade-in">
                    <p class="kodchasan">{{movie.price}}</p>
                    <p class="kodchasan">SEK</p>
                </div>
      
            <p class="fade-in raleway">{{movie.description | slice:0:75}}...</p>
            <button (click)="sendMovieToParent()" class="fade-in modal-button small">info</button>

            <button (click)="addToCart(movie, 1)" class="fade-in add-button small">add</button>
        </div>
    </div>
</div>
