.movie-column {
    margin: 2rem .5rem;
    position: relative;
    height: 25rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.movie-column img {
    height: 25rem;
    max-width: 16rem;
    overflow: hidden; 
    object-fit: cover;
}
.image-box {
    height: 25rem;
    max-width: 16rem;
}
.image-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(30, 34, 33, 0.85);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
}
.price {
    display: flex;
    padding: 0 1.2rem 1rem 1.2rem;
}
.price p {
    padding-right: .5rem;
    font-size: 1.2rem;
}
h2 {
    padding: 1.5rem 1.2rem .3rem 1.2rem;
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: rgb(209, 178, 39);
}
.raleway {
    padding: 0 1.2rem;
}
.movie-column:hover .image-hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.fade-in {
    transition: .4s;
    transform: translateY(1rem);
}
.movie-column:hover .fade-in {
    transform: translateY(0);
}
button {
    width: 80%;
    position: absolute;
    left: 25px;
    right: 0;
}
.add-button {
    top: 83%;
}
.modal-button {
    top: 70%;
}
@media screen and (max-width: 599px) {
    .image-hover {
        visibility: visible;
    }
    .movie-column .image-hover {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    .fade-in {
        transform: translateY(1rem);
    }
}
