/* .wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    background: #343837;
} */
.admin-row {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 6rem 0;
}
.print-orders {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}
h2 {
    margin: 2rem 0;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    color: #fff;
}
app-print-orders {
    width: 70%;
}

@media screen and (max-width: 980px) {
    app-print-orders {
        width: 90%;
    }
}
@media screen and (max-width: 599px) {
    .print-orders {
        width: 100%;
    }
    h2 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
}