.admin-wrapper {
    /* margin-top: 1rem; */
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    background: #343837;
}
.admin-row {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 6rem 0;
}