.inner-content-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal-row {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #808080;
    margin: 1rem;
    padding-top: 1rem;
}
.modal-left {
    margin: 1rem 1.5rem 0 0;
    height: 25rem;
}
.modal-right {
    height: 25rem;
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inner-content-modal h2 {
    text-align: center;
}
.heading {
    margin-top: 1rem;
}
.top .kodchasan {
    padding-top: 1rem;
}
.bottom-mobile,
.price-info-mobile,
.price-info-xs {
    display: none;
}
.description {
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: 1px;
}
.price-info {
    display: flex;
    justify-content: flex-end;
}
.price-info span,
.price-info-mobile span,
.price-info-xs span {
    font-size: 2.5rem;
    font-family: 'Cormorant', serif;
}
.image-box {
    height: 25rem;
    max-width: 16rem;
}
.image-box img {
    height: 25rem;
    max-width: 16rem;
    overflow: hidden; 
    object-fit: cover;
}
.round-button {
    width: 40px;
}
.add-button {
    width: 40%;
}
.adding-quantity {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.adding-buttons {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 1024px) {
    .adding-buttons {
        width: 50%;
    }
}
@media screen and (max-width: 980px) {
    .description {
        font-size: 1.1rem;
    }
    .top .kodchasan {
        padding-top: .5rem;
    }
}
@media screen and (max-width: 682px) {
    .bottom {
        display: none;
    }
    .bottom-mobile {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center
    }
    .bottom-mobile .adding-quantity {
        margin: 2rem 0;
        width: 70%;
    }
    .price-info-mobile {
        display: flex;
        justify-content: flex-end;
    }
    .description {
        font-size: 1rem;
    }
    .top .kodchasan {
        font-size: 1.3rem;
        padding-top: .2rem;
    }
    .image-box {
        margin-right: 1rem;
    }
    .modal-left,
    .modal-right,
    .image-box img,
    .image-box,
    .top {
        height: 22rem;
    }
    .modal-left {
        margin: 1rem .5rem 0 0;
    }
    .modal-right {
        margin: 1rem 0 0 0;
    }
}
@media screen and (max-width: 599px) {
    .description {
        line-height: 120%;
    }
}
@media screen and (max-width: 540px) {
    .modal-row {
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    }
    .top,
    .modal-right {
        height: auto;
    }
    .description {
        font-size: 1rem;
        line-height: 130%;
    }
    .top .kodchasan {
        font-size: 1.5rem;
        padding: .5rem 0 2rem 0;
    }
    .price-info-mobile {
        display: none;
    }
    .price-info-xs {
        display: flex;
    }
    .image-box img,
    .image-box,
    .modal-left {
        height: 25rem;
    }
    .bottom-mobile {
        justify-content: space-around;
    }
}
