<div *ngIf="movieModal" class="inner-content-modal">
    <h2 class="heading">{{movieModal.name}}</h2>

    <div class="modal-row">
        <div class="modal-left">
            <div class="image-box">
                <img [src]="movieModal.imageUrl" alt="Movie poster of {{movieModal.name}}">
            </div>
        </div>

        <div class="modal-right">
            <div class="top">
                <p class="description raleway">{{movieModal.description}}</p>
                <h3 class="kodchasan">{{movieModal.year}}</h3>
            </div>
                <div class="price-info-mobile">
                    <span class="price">{{movieModal.price}}</span>
                    <p class="kodchasan">SEK</p>
                </div>
            <div class="bottom">
                <div class="price-info">
                    <span class="price">{{movieModal.price}}</span>
                    <p class="kodchasan">SEK</p>
                </div>
                <div class="adding-quantity">
                    <div class="adding-buttons">
                        <button class="round-button small" (click)="removeValue()"><i class="fas fa-minus"></i></button>
                        <h2 class="kodchasan value">{{quantityValue}}</h2>
                        <button class="round-button small" (click)="addValue()"><i class="fas fa-plus"></i></button>
                    </div>
                    <button class="add-button small" (click)="addToCart(movieModal)">add</button>
                </div>
            </div>

            
            
        </div>
    </div>
    <div class="bottom-mobile">
        <div class="price-info-xs">
            <span class="price">{{movieModal.price}}</span>
            <p class="kodchasan">SEK</p>
        </div>
        <div class="adding-quantity">
            <div class="adding-buttons">
                <button class="round-button small" (click)="removeValue()"><i class="fas fa-minus"></i></button>
                <h2 class="kodchasan value">{{quantityValue}}</h2>
                <button class="round-button small" (click)="addValue()"><i class="fas fa-plus"></i></button>
            </div>
            <button class="add-button small" (click)="addToCart(movieModal)">add</button>
        </div>
    </div>
</div>
