<div class="home-wrapper">
    <div class="search">
        <input type="text" #searchInput (keyup.enter)="searchMovie(searchInput.value); searchInput.value=''" placeholder="Search movie by name..." >
        <p *ngIf='error'>{{error}}</p>
    </div>
    <div class="categories">
        <h4 (click)='getAll()'>All</h4>
        <h4 (click)='getMovieByCategoryId(category.id)' *ngFor='let category of categories'>
            {{category.name}}
        </h4>

    </div>
    <div class="movie-row">
        <app-print-movies *ngFor='let movie of movies' [movie]='movie' (showMovie)="setMovie($event)"></app-print-movies>
    </div>

</div>

<div class="modal" [class.toggle-visibility]="modalToggle" >
<!-- <div class="modal" [class.toggle-visibility]="modalToggle" (click)="closeModal($event)"> -->
    <!-- <div class="overlay"> -->
        <div class="modal-content">
        <button class="close-modal" (click)="closeModal($event)"><i class="fas fa-times"></i></button>

        <app-modal [movieModal]='movieFromPrintMovie'></app-modal>
        </div>
    <!-- </div> -->
</div>
