
<div class="orders">

    <div class="order-rows">
        <h3 class="order-id">Order id: </h3><p>{{order.id}}</p>

    </div>
    <div class="order-rows">
        <h3 class="creatued-by">Created by: </h3><p>{{order.createdBy}}</p>

    </div>
    <div class="order-rows">
        <h3 class="total-price">Total price in SEK: </h3><p>{{order.totalPrice}}</p>

    </div>
    <div class="order-rows">
        <h3 class="date">Date order created: </h3><p>{{order.created}}</p>

    </div>
    <div class="order-rows">
        <h3 class="amount">Number of products: </h3><p>{{order.orderRows.length}}</p>

    </div>
    <div class="order-rows">
        <h3 class="movies">Movies ordered: </h3><p>{{order.orderRows}}</p>

    </div>

   


</div>

