<div class="order-container">
    <div class="order-column">
        
        <div class="order-rows">
            <h3 class="order-id">Order id: </h3><p>{{order.id}}</p> 
        </div>
        <div class="order-rows">
            <h3 class="creatued-by">Created by: </h3><p>{{order.createdBy}}</p>
        </div>
        <div class="order-rows">
            <h3 class="total-price">Total price in SEK: </h3><p>{{order.totalPrice}}</p>
        </div>
        <div class="order-rows">
            <h3 class="date">Order created: </h3><p>{{order.created.substring(0,10)}}</p>
        </div>
        <div class="order-rows">
            <h3 class="amount">Number of movierow(s): </h3><p>{{order.orderRows.length}}</p>
        </div>
        <div class="order-last">
            <h3 class="movies">Id of movie(s) ordered: </h3>
            <ul class="list">
                <li class="raleway" *ngFor='let row of order.orderRows'>{{row.productId}}</li>
            </ul>
        </div>
    </div>
    
    <div class="button-column">
        <button (click)='sendIdToDelete()'><i class="fas fa-trash-alt"></i></button>
    </div>
</div>

