<header>
    <h1>Welcome to the most wonderful Movie Shop!</h1>
    <app-cart class="cart-header" [class.visibility]="toggleVisibility"></app-cart>
    <div class="header-cart">
        <a routerLink="cart"><i class="fas fa-shopping-bag badge" (click)="toggleCart()"></i></a>

        <!-- <span class="fa-stack fa-2x">
                <i class="fas fa-shopping-bag fa-stack-2x"></i>
                <i class="badge fa-stack-1x fa-inverse"></i>
              </span> -->
    </div>
</header>

<router-outlet></router-outlet>
