<header>
    <div class="left">
        <input type="text" #searchInput (keyup.enter)='handleInput(searchInput.value); searchInput.value = ""' placeholder="Search movie by name..." >
        <!-- <button (click)='searchMovie(searchInput.value)'>Search Movie</button> -->

    </div>
    <a routerLink="../">
        <h1>Movie magic</h1>
    </a>

    <div class="right">
        <!-- <a routerLink="cart"><i data-count="3" class="fas fa-shopping-cart badge"></i></a> -->
        <!-- <app-cart class="cart-header" [class.visibility]="toggleVisibility"></app-cart> -->
        <div class="app-cart">
            <app-cart></app-cart>
        </div>
        <a routerLink="../admin" activatedRouterLink="active"><i class="fas fa-user-astronaut"></i></a>
    </div>
</header>

<router-outlet></router-outlet>
