
header {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #1E2221; */
    /* border-bottom: 2px solid #fff; */
}
h1 {
    font-family: 'Text Me One', sans-serif;
    color: #D22AE1;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.cart-header {
    display: none;
}
/* .visibility {
    display: flex;
} */
a {
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 2rem;
    line-height: 200%;
}
i .fa-shopping-bag {
    position: relative;

}

i {   
    width:100px;
    text-align:center;
    vertical-align:middle;
    position: relative;
}
.badge:after{
    content:"1";
    position: absolute;
    background: black;
    height:2rem;
    top:1rem;
    right:1.5rem;
    width:2rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
    border:1px solid black;
}

  
