
header {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #1E2221; */
    /* border-bottom: 2px solid #fff; */
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(30, 34, 33, 0.9);
    z-index: 100;
}
.left,
.right {
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.left input {
    height: 3rem;
    padding: 0 30px;
    /* position: relative; */
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 1.2;
    margin: 1rem;
}
.left input:before {
    
}
/* .fas:before {

        font-family: FontAwesome;
        content: "\f002";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
http://www.abc.net.au/res/bundles/2.0.5/images/icon-search-grey@1x.png
} */
input:focus {
    outline: none;
    border: 3px solid rgb(209, 178, 39);
}
h2 {
    color: #B0CDAE;
    /* font-size: 2rem; */
    /* flex: 3; */
    text-align: center;
    /* text-transform: uppercase; */
}
.cart-header {
    display: none;
}
/* .visibility {
    display: flex;
} */
a {
    display: inline-block;
    text-decoration: none;
    flex: 3;
}
.icon {
    width: 4rem;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-left: 2rem;
}
i {   
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    color: rgb(209, 178, 39);
}
@media screen and (max-width: 839px) {
    .left {
        flex: 0;
    }
    .right {
        flex: 2;
    }
}
@media screen and (max-width: 356px) {
    h1 {
        font-size: 1.5rem;
    }
}
