/* .wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    background: #343837;
} */
.confirmed-row {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0;
    width: 95%;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin: 1rem 0;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}
h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 140%;
}
.thanks {
    width: 100%;
    text-align: center;
}
span {
    color: rgb(209, 178, 39);
}
.delivery {
    display: flex;
    flex-direction: column;
}
.cart-wrapper {
    flex: 1;
}
.address {
    margin: 4rem 0;

}
.price {

}
.order-number {
    /* display: flex;
    justify-content: space-between;
    border-bottom: 11px solid rgba(173, 175, 175, 0.5); */
}
.mobile-bottom {
    display: flex;
    flex-direction: column;
}
.delivery h4 {
    border-bottom: 1px solid rgba(173, 175, 175, 0.5);
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}
.order-details {
    width: 50%;
    display: flex;
    margin-top: 5rem;
}

.cart-wrapper {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-around; */
    flex-direction: column;
    margin-right: 1rem;
}
/* .cart-wrapper:after {
    content: "";
    flex: auto;
  } */
.cart-content {
    display: flex;
    /* padding: 1rem; */
    margin-bottom: 1rem;
    width: 90%;
}
.image {
    height: 5rem;
    min-width: 3.5rem;
    margin-right: 1rem;
    overflow: hidden; 
    /* object-fit: cover; */
}
.image img {
    height: 5rem;
    max-width: 3.5rem;
    object-fit: cover;
}

@media screen and (max-width: 839px) {
    .order-details {
        width: 75%;
    }
}
@media screen and (max-width: 768px) {
    .order-details {
        width: 90%;
    }
    h2 {
        font-size: 2rem;
    }
    /* .delivery {
        width: 100%;
        display: flex;
        margin: 2rem 0;
    } */
    /* .address {
        flex: 1;
    }
    .price {
        flex: 1;
        text-align: right;
    } */
}
@media screen and (max-width: 599px) {
    /* .order-details {
        width: 90%;
    } */
    /* .delivery {
        width: 100%;
        display: flex;
        margin: 2rem 0;
    } */
    /* .address {
        flex: 1;
    }
    .price {
        flex: 1;
        text-align: right;
    } */
    .order-details {
        border-top: 1px solid rgba(173, 175, 175, 0.5);
        flex-direction: column;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }
    .thanks {
        margin: 0 3rem;
    }
    .order-number {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(173, 175, 175, 0.5);
        padding-top: .5rem;

    }
    .order-number h4 {
        border-bottom: none;
        padding-bottom: none;
    }
    .mobile-bottom {
        flex-direction: row;
        justify-content: space-between;
        margin: 4rem 0;
    }
    .address {
        margin: 0;
        width: 50%;
    }
    .price {
        width: 50%;
        text-align: right;
    }
    .delivery {
        margin-top: 4rem;
    }
}
