@import url('https://fonts.googleapis.com/css?family=Cormorant|Kodchasan|Playfair+Display|Raleway&display=swap');


/* You can add global styles to this file, and also import other style files */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
    background: #343837;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}
p {
    line-height: 135%;
}
.cormorant {
    font-family: 'Cormorant', serif;
}
.kodchasan {
    font-family: 'Kodchasan', sans-serif; 
}
.raleway,
label {
    font-family: 'Raleway', sans-serif;
}
button.small {
    border-radius: 50px;
    height: 40px;
    color: #fff;
    padding: 0px;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    outline: 0;
    text-align: center;
    background: rgb(209, 178, 39);
    font-family: 'Raleway', sans-serif;
}
button.small:active {
    background: #B0CDAE;
    transition-property: color;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}
.wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    background: #343837;
}
.error {
    color: #B0CDAE;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}
