<div class="wrapper">

    <div class="checkout-row">
        <div class="checkout-column">
            <div class="order-form">
                <app-order-form></app-order-form>
            </div>

        </div>

        <div class="checkout-aside">
                
            <div class="aside-header">
                <h3>Cart</h3>
            </div>

            <div *ngIf="cart.length === 0">
                <!-- <h3>cart is empty</h3> -->
            </div>

            <div *ngIf="cart">
                <app-cart-aside *ngFor='let cartItem of cart' [cartItem]='cartItem'></app-cart-aside>
            
                <div *ngIf="totalPrice > 0" class="total-price">
                    <h4>Total price: </h4> 
                    <div class="right">
                        <h3>{{totalPrice}}</h3>
                        <p>SEK</p>
                    </div>
                </div>

                <div class="buttons">
                    <a routerLink="../" activatedRouterLink="active"><button>keep shopping</button></a>
                    <a routerLink="../cart" activatedRouterLink="active"><button>change cart</button></a>
                </div>
        </div>
                  

        </div>

    </div>

</div>
