.wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    background: #343837;
}
.checkout-row {
    width: 95%;
    display: flex;
    justify-content: center;
}
.checkout-column {
    width: 75%;
    display: flex;
    justify-content: center;
    padding: 3rem;
    /* justify-content: center; */
}
.checkout-aside {
    width: 25%;
    /* border: 2px solid red; */
    color: #fff;
    /* background: #292C2C; */
    border-left: 1px solid rgba(173, 175, 175, 0.5);
    padding-left: 1rem;
}
.order-form {
    width: 65%;
}


@media screen and (max-width: 992px) {
    .order-form {
        width: 95%;
    }
}

@media screen and (max-width: 678px) {
    .checkout-row {
        width: 95%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .checkout-aside {
        width: 85%;
        
    }
    .checkout-column {
        width: 90%;
    }
    .order-form {
        width: 100%;
    }
}