.wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    background: #343837;
}
.checkout-row {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 6rem 0;
}
.checkout-column {
    width: 75%;
    display: flex;
    justify-content: center;
    padding: 3rem;
    /* justify-content: center; */
}
.order-form {
    width: 65%;
}
.checkout-aside {
    width: 25%;
    /* border: 2px solid red; */
    color: #fff;
    /* background: #292C2C; */
    border-left: 1px solid rgba(173, 175, 175, 0.5);
    padding-left: 1rem;
}


.aside-header {
    display: flex;
    justify-content: center;
}
.aside-header h3 {
    /* border-bottom: 1px solid #ADAFAF; */
    padding: 2rem 4rem;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}
.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 1rem 3rem 1rem;
}
.total-price h4 {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}
.total-price h3 {
    font-family: 'Cormorant', serif;
    font-size: 2rem;
}
.total-price p {
    font-family: 'Raleway', sans-serif;
    font-size: .8rem;
    padding-left: .5rem;
}
.right {
    display: flex;
}
.buttons {
    display: flex;
    margin: 2rem 0;
}
button,
a {
    border-radius: 50px;
    height: 40px;
    width: 100%;
    color: #fff;
    padding: 0px;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    outline: 0;
    text-align: center;
    background: rgb(209, 178, 39);
}
a {
    display: inline-block;
    text-decoration: none;

}
.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    height: 20rem;
    color: #fff;
}
.empty h2 {
    font-size: 3rem;
    margin: 1rem 0;
}
.empty h3 {
    font-size: 2rem;
}


@media screen and (max-width: 992px) {
    .order-form {
        width: 95%;
    }
}

@media screen and (max-width: 678px) {
    .checkout-row {
        width: 95%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .checkout-aside {
        width: 85%;
        
    }
    .checkout-column {
        width: 90%;
    }
    .order-form {
        width: 100%;
    }
}