<div class="wrapper">
    <div class="cart-row">
        <div *ngIf="cart" class="cart-column">
            <div *ngIf="cart.length === 0" class="empty">
                <h1>Oops!</h1>
                <h3>Your cart seems to be empty.</h3>
                <a routerLink="../" activatedRouterLink="active">get shopping</a>
            </div>
            <app-print-cart-container *ngFor='let cartItem of cart' [cartItem]='cartItem' ></app-print-cart-container>
        </div>

        <aside *ngIf="cart.length > 0" class="cart-aside">
            <div class="aside-header">
                <h2>Cart</h2>
            </div>

            <div *ngIf="cart">
                <app-cart-aside *ngFor='let cartItem of cart' [cartItem]='cartItem'></app-cart-aside>
            
                <div *ngIf="totalPrice > 0" class="total-price">
                    <h3>Total price: </h3> 
                    <div class="right">
                        <h2>{{totalPrice}}</h2>
                        <p class="raleway">SEK</p>
                    </div>
                </div>

                <div class="buttons">
                    <a routerLink="../" activatedRouterLink="active">keep shopping</a>
                    <a routerLink="../checkout" activatedRouterLink="active">checkout</a>
                </div>
            </div>
        </aside>
    </div>
</div>
