<div class="cart-wrapper">
    <div class="cart-row">
        <div class="cart-column">
            <app-print-cart-container *ngFor='let cartItem of cart' [cartItem]='cartItem' ></app-print-cart-container>
        </div>

        <aside class="cart-aside">
                <div class="aside-header">
                    <h3>Cart</h3>
                </div>
            <app-cart-aside *ngFor='let cartItem of cart' [cartItem]='cartItem'></app-cart-aside>

            <div class="total-price">
                <h3>Total price: </h3> {{totalPrice}}

            </div>
            <div class="buttons">
                <button>keep shopping</button>
                <button>checkout</button>
            </div>

        </aside>
    </div>
</div>
